.MainMenu {
  background-color: #669de6;
  width: 100%;
  color: #FFF;
}

.MainMenu ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.MainMenu ul li {
  cursor: pointer;
  text-shadow: 0px 1px 0px rgb(238, 238, 238);
  transition: .5s;
  padding: 15px 10px;
  border-bottom: 3px solid transparent;
}

.MainMenu ul li:hover {
  background-color: #447fcc;
}

.Backdrop {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  width: 100vw;
  position: fixed;
  opacity: .5;
  top: 0;
  z-index: 10;
}

.HamburgerMenuContent {
  top: 0;
  background-color: #323742;
  border-right: 1px solid #2f333b;
  color: #fff;
  height: 100vh;
  min-width: 260px;
  position: fixed;
  overflow: auto;
  opacity: 1;
  z-index: 11;
  padding: 10px;
}

.HamburgerMenuContent ul li {
  margin-bottom: 10px;
}

.HamburgerMenuContent ul {
  margin-top: 15px;
}

.HamburgerMenuContent ul li:last-child {
  margin-bottom: 0px;
}

ul li.Active {
  background-color: #2762af;
  border-bottom: 3px solid rgb(0, 62, 104);
}

@media (max-width: 755px) {
  .Container {
    width: 100%;
  }
}
